.ftBG {
  background-color: rgb(10, 2, 24, 0.7);
  width: 100%;
  position: relative;
  bottom: 0;
  display: inline-flex;
  flex-direction: column;
}
.mb-9 {
  margin-bottom: 2rem;
}
.ml-9 {
  margin-left: 24rem;
}

@media (max-width: 1200px) {
  .ml-9 {
    margin-left: 15rem;
  }
}
@media (max-width: 990px) {
  .ml-9 {
    margin-left: 1rem;
  }
}
@media (max-width: 767px) {
  .ml-9 {
    margin-left: 0;
  }
  .logo2 {
    margin-left: 9rem;
  }
}

ul li a {
  text-decoration: none;
  color: #fff;
  font-weight: 700;
}
.axsn678 {
  margin-right: 3rem;
}

.logo {
  width: 150px;
  height: 45px;
}
